* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Cabin", sans-serif;
    font-weight: 500;
    height: 100vh;
    background: linear-gradient(to right, #000000, #555555);
    color: #e2e8f0; 
}

header {
    background-color: #9f3223;
    color: white;
    text-align: center;
    padding: 15px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.logo {
    position: absolute;
    left: 40px;
    width: 60px;
    height: 60px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.sessoes {
   display: flex;
   overflow-x: auto;
   gap: 15px;
   padding: 10px;
   width: 100%;
   justify-content: center;
}

.sessao-item {
    min-width: 120px;
    height: 180px;
    background: #1f2937;
    color: #f1f5f9;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.7);
    transition: transform 0.3s;
}

.sessao-item:hoover {
    transform: scale(1.05);
}

.inferior {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    margin-top: 30px;
    padding: 20px;
}

.selecionada {
   background: linear-gradient(145deg, #0f172a, #1e293b);
   border-radius: 20px;
   width: 80%;
   padding: 20px;
   margin: 30px 0;
   box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.7);
   order: 2;
   text-align: center;
}

.selecionada img {
    width: 180px;
    border-radius: 10px;
    margin: 15px 0;
}

.clientes {
    background: linear-gradient(145deg, #0f172a, #1e293b);
    border-radius: 20px;
    width: 80%;
    padding: 20px;
    margin: 30px 0;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    order: 1;
    justify-content: space-around;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.7);
}

.foto-cliente img {
    width: 100px;
    height: 100px;
    display: flex;
    order: 1;
    border-radius: 50%;
    background: #334155;
    padding: 8px;
}

.info-cliente {
    display: flex;
    flex-direction: column;
    order: 2;
    gap: 10px;
}

.info-cliente button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #2563eb;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.info-cliente button:hover {
    background-color: white;
    color: #2563eb;
    transform: scale(1.05);
}

.fila {
    display: flex;
    flex-direction: column;
    order: 3;
}

.ranking {
    background: linear-gradient(145deg, #0f172a, #1e293b);
    border-radius: 20px;
    order: 3;
    width: 80%;
    padding: 20px;
    margin: 30px 0;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.7);
}

.ranking h2 {
    text-align: center;
    margin-bottom: 15px;
}

.ranking ol {
    list-style-position: inside;
    font-weight: bold;
}